[Unit]
Description=Miemo hologram client service

[Service]
Type=idle
ExecStart=runMiemoHologramClient
ExecStop=/bin/pkill -TERM firefox
ExecRestart=/bin/pkill -TERM firefox
Restart=always

[Install]
WantedBy=default.target
