.h-inherit {
	height: inherit;
}

.pb-3em {
	padding-bottom: 3em;
}

.overflow-x-auto {
	overflow-x: auto;
}

.right-0 {
	right: 0;
}

.w-min-content {
	width: min-content;
}

.h-min-content {
	height: min-content;
}

.maxw-70 {
	max-width: 70% !important;
	background-color: red;
}

.font-bold {
	font-weight: bold;
}

.color-green {
	color: lime;
}

.color-red {
	color: red;
}

.d-pill {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 1.5em;
}

.offset-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #222;
	border-top: 1px solid gray;
	border-radius: 0.5em 0.5em 0% 0%;
	width: 100%;
}

.w-30 {
	width: 30%;
}

.w-fit-content {
	width: fit-content;
}

.pl-0 {
	padding-left: 0px !important;
}

.pl-1 {
	padding-left: 1em !important;
}

.pr-1 {
	padding-right: 1em !important;
}

.pr-025 {
	padding-right: 0.25rem !important;
}

.px-7 {
	padding-left: 7em !important;
	padding-right: 7em !important;
}

.w-10 {
	width: 10% !important;
}

.h-8 {
	height: 8em !important;
}

.pr-0 {
	padding-right: 0px !important;
}

.selected-item-blue {
	background: #3498db;
}

.modal-content {
	border-radius: 1.5em !important;
}

.modal-header {
	border: none !important;
}

.modal-title {
	text-align: center !important;
	width: 100%;
}

.modal-footer {
	border: none !important;
}

.btn-close-custom {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.4em 0.4em;
	color: #ffffff;
	border: 0;
	border-radius: 50%;
	background: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
}

.btn-close-custom:hover {
	background: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
	background-color: white;
	transition-duration: 0.4s;
}

.circle {
	border-radius: 50%;
	width: 2em;
	height: 2em;
}

.game-list > .active {
	background: #3498db !important;
	border-radius: 1em 1em 1em 1em !important;
}

.game-list > button {
	padding: 1em !important;
}

.game-list .list-group-item {
	border: none !important;
}

.p-card {
	background: #22272d;
}

.beauty-scroll::-webkit-scrollbar {
	width: 10px;
}

.beauty-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.beauty-scroll::-webkit-scrollbar-thumb {
	background: #3498db;
	border-radius: 8px;
}

.beauty-scroll::-webkit-scrollbar-thumb:hover {
	background: #2980b9;
}

.beauty-background {
	background-color: #2980b9;
}

.mt-50vh {
	margin-top: 50vh !important;
}

.hv-100 {
	height: 100vh !important;
}

.pb-3e {
	padding-bottom: 3em !important;
}

.max-h-12 {
	max-height: 12em;
}

.p-divider.p-divider-horizontal:before {
	border-top: 1px solid lightgray;
}
