.h-inherit {
	height: inherit;
}

.pb-3em {
	padding-bottom: 3em;
}

.overflow-x-auto {
	overflow-x: auto;
}

.right-0 {
	right: 0;
}

.w-min-content {
	width: min-content;
}

.h-min-content {
	height: min-content;
}

.font-bold {
	font-weight: bold;
}

.color-green {
	color: lime;
}

.color-red {
	color: red;
}
