.h-inherit {
	height: inherit;
}

.pb-3em {
	padding-bottom: 3em;
}

.overflow-x-auto {
	overflow-x: auto;
}

.right-0 {
	right: 0;
}

.w-min-content {
	width: min-content;
}

.h-min-content {
	height: min-content;
}

.font-bold {
	font-weight: bold;
}

.color-green {
	color: lime;
}

.color-red {
	color: red;
}

.modal-content {
	border-radius: 1.5em !important;
}

.modal-header {
	border: none !important;
}

.modal-title {
	text-align: center !important;
	width: 100%;
}

.modal-footer {
	border: none !important;
}

.btn-close-custom {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.4em 0.4em;
	color: #ffffff;
	border: 0;
	border-radius: 50%;
	background: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
}

.btn-close-custom:hover {
	background: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
	background-color: white;
	transition-duration: 0.4s;
}
