[Unit]
Description=Miemo bluetooth manager server
After=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=miemo-bluetooth
Restart=always

[Install]
WantedBy=multi-user.target
